body {
   font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.nav{
  display: flex;
  justify-content: center;
  
  
}
.nav-list{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 40px;
}

.con-list{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
 
.div-list{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 30px;
}

.div-item{
  height: 404px;
  max-width: 370px;
}

.img1::before{
  position: relative;
  background-image: url("C:\Users\Koteniatko\Documents\Frontend\GitHub\WeBSt\img\img.jpg");
}
