:root {
    --grey-color: #757575;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --darkblack-color: #000000;
    --darkgrey-color: #2F303A;
    --lightgrey-color: #ECECEC;
    --white2-color: #F5F4FA;
}

 body {
   font-family: "Roboto", sans-serif;
 }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.hero-title-button{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
     line-height: 1,87px;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 40px;
}
.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.work-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
    gap: 20px;
}
.team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.team-list{
    
     display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

.work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.lonav-list-item {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    line-height: 1,71px;
 }
.hero-title {
    line-height: 1,36px;
}
.features-list-item{
    line-height: 1,71px;
}
.team-item-img{
    height: 300px;
}

.features-title{
    display: flex;
    gap: 30PX;
    justify-content: space-between;
    align-items: flex-start;
}
